<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled:curentPage===0}">
      <a (click)="changePage('prev')" class="page-link">Previous</a>
    </li>
    <ng-container *ngFor="let image of images; let i=index">
      <li class="page-item" [ngClass]="setActiveClass(i)" *ngIf="checkWindowIndex(i)">
        <a (click)="changePage(i)" class="page-link" href="#">{{i+1}}</a>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]="{disabled:curentPage===images.length-1}">
      <a (click)="changePage('next')" class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<div>
  <h2>{{images[curentPage].title+(curentPage +1)}}</h2>
  <img [src]="images[curentPage].url" alt="" style="max-height: 200px; max-height: 200px;">
</div>
<div [ngSwitch]=""></div>
<p *ngIf="isExists; else custom">this is if</p>
<ng-template #custom>
  <p>this is else</p>
</ng-template>